<br><br>
<div class="jumbotron" style="text-align:center">
<br>
  <h1>
    Welcome to Rat Web!
  </h1>
  <br>
  <img width="300" src="https://i.pinimg.com/736x/04/5c/6a/045c6a4b5f6c3ad05a0887095fcfe568--funny-sports-its-funny.jpg">
  <br> <br>
  <app-login></app-login>
</div>

<h2>Helpful Links </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/josh75337/CS-2340-Block-Beach-Boys">Android GitHub</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/eli1797/ratWeb">Website GitHub</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Angular CLI Documentation</a></h2>
  </li>
</ul>
