<div *ngIf="auth.authenticated; else notLoggedIn">
      <h1>Hello {{email}}!</h1>
      <button (click)="logout()">Logout</button>
    </div>
    <ng-template #notLoggedIn>
        <div>
            <label for="email">Email:</label>
            <input (mouseleave)="setEmail(email.value)" type="text" #email>
        </div>
        <div>
            <label for="password">Password:</label>
            <input (mouseleave)="setPassword(password.value)" type="password" #password>
        </div>

        <p>Please login.</p>
    
        <button (click)="login()">Login</button>
    </ng-template>
